<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-07-18T06:11:29Z</date>
	<key>WorkspacePath</key>
	<string>/Applications/MAMP/htdocs/wedding-app/ios-app/WeddingApp/WeddingApp.xcodeproj</string>
</dict>
</plist>
